<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/acceuilPro.css" />
    <script
      src="https://kit.fontawesome.com/54eb68e3e7.js"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/acceuilPro.js" defer></script>
  </head>
  <body>
    <section class="heroSection"></section>
    <!--*--------------------  HEADER  --------------------------->
    <header>
      <a href="">
        <img src="../assets/img/logoBlanc.png" class="logoHeader" alt=""
      /></a>
      <nav>
        <a href="" class="navOnglet">Qui sommes-nous</a>
        <!-- <a href="" class="navOnglet" id="nosServices">Nos services</a> -->
        <div id="serviceDiv">
          <span class="navOnglet" id="nosServices"> Nos services</span>
        </div>
        <a href="" class="navOnglet">Contact</a>
        <div id="compteDiv">
          <span class="navOnglet" id="compte">Compte</span>
        </div>
      </nav>
    </header>

    <!--*--------------------  BODY  --------------------------->
    <main>
      <section class="hero">
        <h1 class="textHeroSection titrePrincipal">Bienvenue chez événova !</h1>
        <h2 class="textHeroSection">
          Vivez vos meilleurs moments sans avoir à les organiser !
        </h2>
        <section class="heroButtonContainer">
          <button class="ourSelection button">Notre sélection</button>
        </section>
      </section>

      <section class="blaBla">
        <h2 class="phraseAccroche pATitre">
          Envie de vivre des moments inoubliable?
        </h2>
        <p class="phraseAccroche pATexte">
          Chez événova nous vous proposons des kits tout fait de voyages et de
          soirée. Vous pouvez également créer pleinement vos moment
        </p>
      </section>
      <!-- <h2 class="whoTitle">Qui sommes nous</h2> -->
      <section class="services">
        <section class="cardContainer">
          <section class="card cardLeft">
            <div class="contentCard">
              <h2 class="titleCardSelection">Soirée</h2>
              <button class="button buttonServices">Découvrir</button>
            </div>
          </section>
          <section class="card cardMid">
            <div class="contentCard">
              <h2 class="titleCardSelection">Voyage</h2>
              <button class="button buttonServices">Découvrir</button>
            </div>
          </section>
          <section class="card cardRight">
            <div class="contentCard">
              <h2 class="titleCardSelection">Personnalisé</h2>
              <button class="button buttonServices">Découvrir</button>
            </div>
          </section>
        </section>
      </section>
      <section class="whoContainer">
        <section class="who whoImg">
          <img src="../assets/img/team.jpg" alt="" />
        </section>
        <section class="who whoTxtContainer">
          <h2>Qui sommes-nous ?</h2>
          <p class="whoTxt">
            Chez Evénova ! Nous sommes une équipe dévouée d'experts passionnés
            par la création d'expériences uniques. Avec une approche entièrement
            personnalisée, nous transformons vos idées en réalité, vous offrant
            des moments inoubliables lors de soirées et de voyages sur mesure.
          </p>
        </section>
      </section>
    </main>

    <footer>
      <section class="socialMedia">
        <a href=""><i class="fa-brands fa-instagram fa-2xl icon"></i></a>
        <a href=""><i class="fa-brands fa-tiktok fa-2xl icon"></i></a>
        <a href=""><i class="fa-brands fa-x-twitter fa-2xl icon"></i></a>
      </section>

      <section class="realFooter">
        <div class="contentFooter">
          <h4></h4>
          <p></p>
        </div>
        <div class="contentFooter">
          <h4></h4>
          <p></p>
        </div>
        <div class="contentFooter">
          <h4></h4>
          <p></p>
        </div>
        <div class="contentFooter">
          <h4></h4>
          <p></p>
        </div>        
      </section>
    </footer>
  </body>
</html>
